.weather-app {
  background-color: #d8ceca;
  color: #763242;
}
h3 {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

input {
  margin-top: 10px;
  margin-left: 20px;
}

.location-btn {
  margin-left: 20px;
}

.date {
  font-size: larger;
  margin-left: 20px;
}

.time {
  font-size: larger;
  margin-left: 20px;
}

.current-temp {
  font-weight: normal;
}

.conditions {
  float: right;
  margin-top: -150px;
  margin-right: 10px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.col {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 10px;
  text-align: center;
}

.weather-app {
  max-width: 800px;
  display: block;
  margin: 20px 0 0 0;
  border: 1px solid black;
  border-radius: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
