h1 {
  text-align: center;
  padding: 10px;
}

h3 {
  margin: 20px 0;
  text-align: center;
}

input {
  margin: 10px 0;
}

button.search {
  margin-bottom: 5px;
}

.time {
  font-size: larger;
}

.current-temp {
  font-weight: normal;
}

.conditions {
  float: right;
  margin-top: -150px;
  margin-right: 10px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.col {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 10px;
  text-align: center;
}

.weather-app {
  max-width: 800px;
  display: block;
  margin: 20px 0 0 0;
  border: 1px solid black;
  border-radius: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
